body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    background-color: lightblue;
}

.header-container {
    display: flex;                      
    justify-content: space-between;      
    align-items: center;                
    padding: 10px 20px;                  
    background-color: lightblue;         
}
.logo-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
header {
    font-size: 24px;
    font-weight: bold;
    color:white;
}
.text-box {
    position: relative;
    background-color: plum; 
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.background-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 20%;
    height: auto;
    object-fit: cover; 
    z-index: 1; 
}

.text {
    position: relative;
    z-index: 2; 
    color: rgb(108, 92, 181);
    margin: 10px 0;
}

i {
    font-size: 30px;
    color: black;                    
}

nav {
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    margin: 0 15px;
}

nav a:hover {
    color: #007bff;                     
}
.row {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    align-items: stretch;
}
.first-column {
    background-color: plum;
    border-radius: 10px;
}
h2, h3 {
    text-align: left; 
    font-size: 20px;
}
p {
    text-align: left;
    margin-top: 10px;
}
.picture{
    background-color: lightblue;
    border-radius: 10px;
}
.second-column-text{
    background-color: plum;
    border-radius: 10px;
}
p:last-child {
    text-align: center;
    margin-top: 30px;
}
.column {
    flex: 1;
    padding: 20px;
}
.column + .column {
    margin-left: 20px;
}
img {
    max-width: 800px;
    height:auto;
    border-radius: 10px;
}
.last_line {
    text-align: center;
    margin-top: 30px;
}
.button-container {
    text-align: center;               
    margin-top: 30px;                 
}

.btn {
    padding: 12px 25px;            
    font-size: 16px;                  
    border: none;                      
    cursor: pointer;                 
    margin: 10px;                 
    border-radius: 5px;                
    transition: background-color 0.3s;
}
.primary-btn, .secondary-btn{
    background-color: lightsalmon;        
    color: rgb(69, 85, 177);                   
}

.primary-btn:hover, .secondary-btn:hover {
    background-color: #3ec177;         
}

@media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    header h1 {
      margin-bottom: 10px;
    }
  
    nav {
      flex-direction: column;
      gap: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    p {
      max-width: 90%;
    }
  
    div.flex {
      flex-direction: column;
      align-items: center;
    }
  
    div.flex > div {
      max-width: 90%;
    }
  
    button {
      font-size: 14px;
    }
    img {
        width: 80%;       
        height: auto;      
        margin: 0 auto; 
    }
  }